
y-library-demo-api/y-library-demo-api.sln
y-library-demo-api/y-library-demo-api.csproj.user
y-library-demo-api/y-library-demo-api.csproj
y-library-demo-api/y-library-demo-api.http
y-library-demo-api/Properties/launchSettings.json
y-library-demo-api/obj/project.assets.json
y-library-demo-api/obj/project.nuget.cache
y-library-demo-api/obj/y-library-demo-api.csproj.nuget.dgspec.json
y-library-demo-api/obj/y-library-demo-api.csproj.nuget.g.props
y-library-demo-api/obj/y-library-demo-api.csproj.nuget.g.targets
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.pdb
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.MvcApplicationPartsAssemblyInfo.cache
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.GlobalUsings.g.cs
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.genruntimeconfig.cache
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.GeneratedMSBuildEditorConfig.editorconfig
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.dll
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.csproj.FileListAbsolute.txt
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.csproj.CoreCompileInputs.cache
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.csproj.BuildWithSkipAnalyzers
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.csproj.AssemblyReference.cache
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.assets.cache
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.AssemblyInfoInputs.cache
y-library-demo-api/obj/Debug/net8.0/y-library-demo-api.AssemblyInfo.cs
y-library-demo-api/obj/Debug/net8.0/y-librar.48EAF9C4.Up2Date
y-library-demo-api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.y-library-demo-api.props
y-library-demo-api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.y-library-demo-api.props
y-library-demo-api/obj/Debug/net8.0/staticwebassets/msbuild.build.y-library-demo-api.props
y-library-demo-api/obj/Debug/net8.0/staticwebassets.build.json
y-library-demo-api/obj/Debug/net8.0/refint/y-library-demo-api.dll
y-library-demo-api/obj/Debug/net8.0/ref/y-library-demo-api.dll
y-library-demo-api/obj/Debug/net8.0/apphost.exe
y-library-demo-api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
y-library-demo-api/bin/Debug/net8.0/y-library-demo-api.runtimeconfig.json
y-library-demo-api/bin/Debug/net8.0/y-library-demo-api.pdb
y-library-demo-api/bin/Debug/net8.0/y-library-demo-api.exe
y-library-demo-api/bin/Debug/net8.0/y-library-demo-api.dll
y-library-demo-api/bin/Debug/net8.0/y-library-demo-api.deps.json
y-library-demo-api/bin/Debug/net8.0/Sprache.dll
y-library-demo-api/bin/Debug/net8.0/Npgsql.dll
y-library-demo-api/bin/Debug/net8.0/DotNetEnv.dll
y-library-demo-api/bin/Debug/net8.0/appsettings.json
y-library-demo-api/bin/Debug/net8.0/appsettings.Development.json
y-library-demo-api/appsettings.json
y-library-demo-api/appsettings.Development.json
y-library-demo-api/.vs/y-library-demo-api/v17/DocumentLayout.json
y-library-demo-api/.vs/y-library-demo-api/v17/.suo
y-library-demo-api/.vs/y-library-demo-api/v17/.futdcache.v2
y-library-demo-api/.vs/y-library-demo-api/FileContentIndex/f1efd1ad-2161-4656-adc2-c889b3dcbfea.vsidx
y-library-demo-api/.vs/y-library-demo-api/FileContentIndex/94bd41e3-9d16-49fa-ab4d-f298a84d5fd7.vsidx
y-library-demo-api/.vs/y-library-demo-api/FileContentIndex/57263738-1a22-4148-9b2b-9d9165990eee.vsidx
y-library-demo-api/.vs/y-library-demo-api/FileContentIndex/2c533d66-0f65-4a7f-8971-9ba6fa687f1c.vsidx
y-library-demo-api/.vs/y-library-demo-api/FileContentIndex/14e2ca13-8d24-4024-98bc-05e58bacb517.vsidx
Database/LibraryDatabase.vsp
y-library-demo-api/.env
y-library-demo-api/.vs/ProjectEvaluation/y-library-demo-api.metadata.v8.bin
y-library-demo-api/.vs/ProjectEvaluation/y-library-demo-api.projects.v8.bin
y-library-demo-api/.vs/ProjectEvaluation/y-library-demo-api.strings.v8.bin
y-library-demo-api/.vs/y-library-demo-api/config/applicationhost.config
y-library-demo-api/.vs/y-library-demo-api/DesignTimeBuild/.dtbcache.v2
*.vsidx
